.socials-container {
	display: block;
	text-align: center;
	padding: 0;
}

.social {
	display: inline-block;
	padding-left: 0.5%;
	padding-right: 0.5%;

	transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
}

.social:hover {
	opacity: 40%;
	transform: translateY(-5%);
}