@font-face {
	font-family: 'Title';
	src: url(../artwork/font/Raleway-Bold.ttf);
}
@font-face {
	font-family: 'Section';
	src: url(../artwork/font/Raleway-SemiBold.ttf);
}
@font-face {
	font-family: 'Regular';
	src: url(../artwork/font/Raleway-Regular.ttf);
}
:root {
	--color1: #604D44;
	--color2: #ECB98B;
	--color3: #EF923F;
	--color4: #E44F27;
	--color5: #736A61;
	--background: #2b2b2b;
}

h1 {
	font-family: 'Title';
	font-size: 500%;
	text-align: center;
	color: var(--color4);
}

h2 {
	font-family: 'Section';
	color: var(--color3);
	padding-left: 5%;
}

p {
	font-family: 'Regular';
	color: var(--color2);
	padding-left: 10%;
}

.socials {
	display: block;
	text-align: center;
	padding: 0;
}

.social {
	display: inline-block;
	padding-left: 0.5%;
	padding-right: 0.5%;

	transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
}

.social:hover {
	opacity: 40%;
	transform: translateY(-5%);
}

.icon {
	stroke: var(--color4);
}

.grid-container {
	display: grid;
	
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;

	background-color: var(--background);
}